.header{
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    height: 10vh;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container_nav{
    display: flex;
    height: 10vh;
    align-items: center;
}
.logo{
    height: 60px;
    justify-content: left;
    padding-left: 30px;
}
ul{
    display: flex;
    padding-right: 30px;
}
li{
    text-decoration: none;
    list-style: none;
    margin: 15px;
    color: black;
    font-family: sans-serif;
    cursor: pointer;
}
.text_di{
    color: #4cd90b;
}
.text:hover{
    color: #4cd90b ;
}
.icono{
    margin: 10px;
}
.btn_sus{
    height: 50px;
    margin-right: 10px;
}