:root{
    --blanco: #FEFEFE;
    --azul: #0000FF;
    --rojo: #ED5144;
    --amarilo:#D3D824;
    --azul1:#325AA6;
    --verde_oscuro:#1C2E14;
    --azul2: #0A3586;
    --negro: #000000;
    --claro: #EBEBEB;
    --verde_bajo: #80D25B;
    --aqua: #22BA8E;
    --gris_azul: #114B5F;
    --verde_ocuro:#6CB14F;
}
.ContenedorVista{
    display: flex;
    margin-top: 20px;
}

.vista_1{
    display: flex;
    background-color: var(--claro);
    width: 60vh;
    height: 50vh;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.descripcion{
    background-color: var(--claro);
    margin: 5px;
    height: 30vh;
    border-radius: 20px;
}
.barra_lateral{
    justify-content: center;
    display: flex;
    background-color: var(--gris_azul);
    width: 30vh;
    margin: 5px;
    height: 60vh;
    border-radius: 20px;
    color: var(--claro);
    align-items:  b;
}